

      body { background-color:gray ;}
  
      

    h1 {
      background-color:pink;
      color:white;
      padding:10px 5px 0;
      
     
    }

 nav{background-color :pink;
  
  
 }
 nav a{
   color:gray;
   font-size:15px;
  
 }

#logo {width: 300px;}

h3 a{
  color:gray;
}

h3{
  color:black;
}
 
